{% extends 'base.html' %}



{% block content %}
<div class="container-fluid">
    <h2>Sign up for a free account</h2>
                    <br/>
                <div class="row">

                    <!-- Column -->
                    <div class="col-md-6 col-lg-6">
                        <div class="hover">
                            <a href="{% url 'normal_signup' %}">
                            <div class="text-center" style="background-color:NavajoWhite;color:black;padding:10px;">
                                <h1 class="font-light text-white">{% load static %}<img src="{% static 'images/man(p).png' %}"><i class="mdi mdi-view-dashboard"></i></h1>
                                <h1 class="text-black">Basic User</h1>
                                <h6 class="text-white"></h6>
                            </div>
                                </a>
                        </div>
                    </div>
                     <!-- Column -->
                    <div class="col-md-6 col-lg-6">
                        <div class="hover">
                            <a href="{% url 'professional_signup' %}">
                            <div class="text-center" style="background-color:RebeccaPurple;color:black;padding:10px;">
                                <h1 class="font-light text-white">{% load static %}<img src="{% static 'images/male_health_worker(p).png' %}"><i class="mdi mdi-view-dashboard"></i></h1>
                                <h1 class="text-white">Professional</h1>
                                <h6 class="text-white">(Doctor/Therapist/etc..)</h6>
                            </div>
                                </a>
                        </div>
                    </div>
                     <!-- Column -->
                </div>
 </div>
{% endblock %}