.wrapper{
    // width: 1000px;
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 300px;
}


.wrapper_new{
    // width: 1000px;
    width:600px;
    overflow-y:scroll;
    position:relative;
    height: 300px;
}



span.stars, span.stars>* {
    display: inline-block;
    background: url('static/images/star.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars>*{
    max-width:80px;
    background-position: 0 0;
}



.card-hover {
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease; }
  .card-hover:hover {
    webkit-transform: translateY(-4px) scale(1.01);
    -moz-transform: translateY(-4px) scale(1.01);
    -ms-transform: translateY(-4px) scale(1.01);
    -o-transform: translateY(-4px) scale(1.01);
    -webkit-transform: translateY(-4px) scale(1.01);
    transform: translateY(-4px) scale(1.01);
    -webkit-box-shadow: 0 14px 24px rgba(62, 57, 107, 0.1);
    box-shadow: 0 14px 24px rgba(62, 57, 107, 0.1); }

