{% extends 'base.html' %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'profile_home' %}"> Home </a>
  <button class="btn" onClick="javascript:history.go(-1);"></i>&#9756;Back</button></a>
</div>

<h2>Appointment to {{ person.username }}</h2>

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form_date }}
      <div>
              {% if messages %}
          <ul class="messages">
          {% for message in messages %}
          <li style="color:red">{{ message }}</li>
          {% endfor %}
          </ul>
      {% endif %}
      </div>
    <tr><td colspan="2"><button type="submit"  name="_date" class="btn btn-info right"> Choose </button></td></tr>
  </table>
</form>

<div class="row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                Date : {{ date_of_appointment }} {{ day_of_appointment }}
                <h3>Available Slots</h3>
                {% for schedule in appointment_schedule %}
                    {% if schedule.day == day_of_appointment %}
                <table class="table table-hover">
                    {% if appointment_list %}
                        {% for appointment in appointment_list %}
                            {% if schedule.start_time != appointment.start_time %}
                        <td class="align-middle"><a href="{% url 'appointment_create' date_of_appointment schedule.pk %}">{{ schedule.start_time }}-{{ schedule.end_time }}</a></td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <td class="align-middle"><a href="{% url 'appointment_create' date_of_appointment schedule.pk %}">{{ schedule.start_time }}-{{ schedule.end_time }}</a></td>
                    {% endif %}
                </table>
                    {% endif %}
                {% endfor %}<br/><br/>


                 Choose Slot
            </div>
        </div>
   <div class="col-sm-6">

<h4>Weekly slots</h4>
        <div id="schedule">
              <table class="table">
        <thead class="thead-inverse">
        </thead>
          <tr>
              <thread class="thead-inverse">
                  <th></th>
                  <th>Start Time</th>
                  <th>End Time</th>
              </thread>
          </tr>
        <tbody>
        {% if sat %}
        <th class="align-middle" rowspan="{{ sat }}">Saturday</th>
        {% for schedule in appointment_schedule_list %}
            {% if schedule.day == "Saturday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if sun %}
        <th class="align-middle" rowspan="{{ sun }}">Sunday</th>
        {% for schedule in appointment_schedule_list %}
            {% if schedule.day == "Sunday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if mon %}
        <th class="align-middle" rowspan="{{ mon }}">Monday</th>
        {% for schedule in appointment_schedule_list %}
            {% if schedule.day == "Monday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if tue %}
        <th class="align-middle" rowspan="{{ tue }}">Tuesday</th>
        {% for schedule in appointment_schedule_list %}
            {% if schedule.day == "Tuesday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if wed %}
        <th class="align-middle" rowspan="{{ wed }}">Wednesday</th>
        {% for schedule in appointment_schedule_list %}
            {% if schedule.day == "Wednesday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if thus %}
        <th class="align-middle" rowspan="{{ thus }}">Thursday</th>
        {% for schedule in appointment_schedule_list %}
            {% if schedule.day == "Thursday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if fri %}
        <th class="align-middle" rowspan="{{ fri }}">Friday</th>
        {% for schedule in appointment_schedule_list %}
            {% if schedule.day == "Friday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
      </table>
        </div>


        </div>
    </div>

{% endblock %}