{% extends 'base.html' %}

{% block content %}
<div class="container">
        <br>
        <h3> Hello, <b>{{user}} !</b></h3>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <br>
    <div class="container">
        <h4>Here is your Appointment for today, &nbsp {{time}} :</h4>
        <table class="table">
            <thead>
            <tr class="danger">
            {% if user.is_normal %}
                <th>Specialist</th>
            {% else %}
                <th>Client</th>
            {% endif %}
                <th>Title</th>
                <th>Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <!-- {{today_appoint}} -->
                {% for appointment in today_appoint %}
                <tr>
                {% if user.is_normal %}
                    <td><a href="{% url 'view_professionals_profile' appointment.appointment_to_id %}">{{ appointment.appointment_to }}</a></td>
                {% else %}
                    <td><a href="{% url 'view_professionals_profile' appointment.appointment_from_id %}">{{ appointment.appointment_from }}</a></td>
                {% endif %}
                    <td>{{ appointment.title }}</td>
                    <td>{{ appointment.start_time }}-{{ appointment.end_time }}</td>
                    <td>{{ appointment.status }}</td>
                    {% if appointment.status == "Pending" %}
                    <td class="align-middle">
                        <a class="btn btn-success" href="{% url 'update_appointment' appointment.pk %}" aria-label="Done"><i class="fa fa-check" aria-hidden="true"></i></a>
                        <a class="btn btn-warning" href="{% url 'canceled_appointment' appointment.pk %}" aria-label="Canceled"><i class="fa  fa-times" aria-hidden="true"></i></a>
                        <a class="btn btn-danger" href="{% url 'delete_appointment' appointment.pk %}" aria-label="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    {% else %}
                    <td class="align-middle">
                        <a class="btn btn-info" href="{% url 'update_appointment' appointment.pk %}" aria-label="Pending"><i class="fa  fa-hourglass-half" aria-hidden="true"></i></a>
                        <a class="btn btn-danger" href="{% url 'delete_appointment' appointment.pk %}" aria-label="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <br>
    <div class="container">
        <h4>Your Other Appointments:</h4>
        <table class="table">
            <thead>
            <tr class="warning">
            {% if user.is_normal %}
                <th>Specialist</th>
            {% else %}
                <th>Client</th>
            {% endif %}
                <th>Title</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {%for appointment in appointments%}
                <tr>
                    {% if user.is_normal %}
                    <td><a href="{% url 'view_professionals_profile' appointment.appointment_to_id %}">{{ appointment.appointment_to }}</a></td>
                {% else %}
                    <td><a href="{% url 'view_professionals_profile' appointment.appointment_from_id %}">{{ appointment.appointment_from }}</a></td>
                {% endif %}
                    <td>{{ appointment.title }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.start_time }}-{{ appointment.end_time }}</td>
                    <td>{{ appointment.status }}</td>
                    {% if appointment.status == "Pending" %}
            <td class="align-middle">
                <a class="btn btn-success" href="{% url 'update_appointment' appointment.pk %}" aria-label="Done"><i class="fa fa-check" aria-hidden="true"></i></a>
                <a class="btn btn-warning" href="{% url 'canceled_appointment' appointment.pk %}" aria-label="Canceled"><i class="fa  fa-times" aria-hidden="true"></i></a>
                <a class="btn btn-danger" href="{% url 'delete_appointment' appointment.pk %}" aria-label="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            {% else %}
            <td class="align-middle">
                <a class="btn btn-info" href="{% url 'update_appointment' appointment.pk %}" aria-label="Pending"><i class="fa  fa-hourglass-half" aria-hidden="true"></i></a>
                <a class="btn btn-danger" href="{% url 'delete_appointment' appointment.pk %}" aria-label="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            {% endif %}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <br>
    </div>

{% endblock %}