{% extends 'base.html' %}

<div class="row row-no-gutters">

{% block breadcrumb %}
     {% if user.is_authenticated %}

<li class="breadcrumb-item"><a href="{% url 'appointment_view' %}" class="btn btn-student btn-lg" role="button"> View Appointments <span class="badge">{{flag_appointment}}</span></a></li>
<li class="breadcrumb-item"><a href="{% url 'view_chatroom' %}" class="btn btn-student btn-lg" role="button"> Chat rooms </a></li>
  <li class="breadcrumb-item"><a href="{% url 'calendar' %}" class="btn btn-student btn-lg" role="button"> Calendar <i class="fa fa-calendar fa-1x" style="color:black" aria-hidden="true"></i></a></li>
            {% if flag %}
            <li class="breadcrumb-item"><a href="{% url 'view_messages' %}" class="btn btn-student btn-lg" role="button"> Messages <span class="badge">{{flag2}}</span>&nbsp;<i class="fa fa-envelope fa-1x" style="color:PeachPuff " aria-hidden="true"></i></a></li>
            {% else %}
            <li class="breadcrumb-item"><a href="{% url 'view_messages' %}" class="btn btn-student btn-lg" role="button"> Messages <span class="badge">{{flag2}}</span>&nbsp;<i class="fa fa-envelope fa-1x" style="color:PeachPuff" aria-hidden="true"></i></a></li>
            {% endif %}
{% if user.is_normal %}
  <li class="breadcrumb-item"><a href="{% url 'view_professionals' %}" class="btn btn-student btn-lg" role="button"> View Professionals </a></li>
  <li class="breadcrumb-item"><a href="{% url 'self_assessment' %}" class="btn btn-student btn-lg" role="button"> Self Assessment </a></li>

{% elif user.is_professional %}
  <li class="breadcrumb-item"><a href="{% url 'view_appointment_schedule' %}" class="btn btn-student btn-lg" role="button"> Appointment Schedules </a></li>
<li class="breadcrumb-item"><a href="{% url 'view_achievements' %}" class="btn btn-student btn-lg" role="button"> Achievements </a></li>

{% endif %}
    <li class="breadcrumb-item"><a href="{% url 'emergency' %}" class="btn btn-student btn-lg" role="button" style="color:red;"> Emergency </a></li>
    {% endif %}
{% endblock %}


{% block content %}



<div id="main">

<div class="row row-no-gutters">
    <!-- Column -->
    <div class="col-xs-9 col-md-7">
            <div class="card-hover">
                    <div class="text-center" style="background-color:;color:black;padding:10px;">
                        <h1 class="font-light text-white"></h1>
                        <h1 class="text-black">Hello! {{ user.username }}</h1>
                    </div>
                </div>
        </div>
     {% if user.is_professional %}
        <div class="col-xs-3 col-md-5">
            <style>
                * {
  box-sizing: border-box;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}
            </style>
            <div id="ratings">
                <span class="heading">Your Rating</span>
<p>{{ final_rating }} average based on {{ rater }} reviews.</p>
<hr style="border:3px solid #f1f1f1">

<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5" style="width: {{ rate_percentage_5 }}%; height: 18px; background-color: #4CAF50;"></div>
    </div>
  </div>
  <div class="side right">
    <div>{{rate_5}}</div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4" style="width: {{ rate_percentage_4 }}%; height: 18px; background-color: #2196F3;"></div>
    </div>
  </div>
  <div class="side right">
    <div>{{rate_4}}</div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3" style="width: {{ rate_percentage_3 }}%; height: 18px; background-color: #00bcd4;"></div>
    </div>
  </div>
  <div class="side right">
    <div>{{rate_3}}</div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2" style="width: {{ rate_percentage_2 }}%; height: 18px; background-color: #ff9800;"></div>
    </div>
  </div>
  <div class="side right">
    <div>{{rate_2}}</div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1" style="width: {{ rate_percentage_1 }}%; height: 18px; background-color: #f44336;"></div>
    </div>
  </div>
  <div class="side right">
    <div>{{rate_1}}</div>
  </div>
</div>

            </div>
        </div>
     {% endif %}
 <div class="col-sm-8.5">
        <!-- Column -->

     <button type="button" class="btn btn-success btn-block" onClick="Health()">
            Latest Health related news
        </button>
     <!-- start sw-rss-feed code -->
     <div id="health">
<script type="text/javascript">
<!--
rssfeed_url = new Array();
rssfeed_url[0]="https://news.google.com/rss/topics/CAAqIQgKIhtDQkFTRGdvSUwyMHZNR3QwTlRFU0FtVnVLQUFQAQ?hl=en-US&gl=US&ceid=US%3Aen&oc=11";
rssfeed_frame_width="800";
rssfeed_frame_height="460";
rssfeed_scroll="on";
rssfeed_scroll_step="6";
rssfeed_scroll_bar="off";
rssfeed_target="_blank";
rssfeed_font_size="12";
rssfeed_font_face="";
rssfeed_border="on";
rssfeed_css_url="https://feed.surfing-waves.com/css/style6.css";
rssfeed_title="on";
rssfeed_title_name="";
rssfeed_title_bgcolor="#3366ff";
rssfeed_title_color="#fff";
rssfeed_title_bgimage="";
rssfeed_footer="off";
rssfeed_footer_name="rss feed";
rssfeed_footer_bgcolor="#fff";
rssfeed_footer_color="#333";
rssfeed_footer_bgimage="";
rssfeed_item_title_length="50";
rssfeed_item_title_color="#666";
rssfeed_item_bgcolor="#fff";
rssfeed_item_bgimage="";
rssfeed_item_border_bottom="on";
rssfeed_item_source_icon="off";
rssfeed_item_date="off";
rssfeed_item_description="on";
rssfeed_item_description_length="120";
rssfeed_item_description_color="#666";
rssfeed_item_description_link_color="#333";
rssfeed_item_description_tag="off";
rssfeed_no_items="0";
rssfeed_cache = "d7c92de107b8accb3bb5ecd060434f64";
//-->
</script>
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
<!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. -->
<div style="color:#ccc;font-size:10px; text-align:right; width:600px;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;">Surfing Waves</a></div>
<!-- end sw-rss-feed code -->
     </div>

 <button type="button" class="btn btn-success btn-block" onClick="Covid()">
            Latest Covid related news
        </button>
     <!-- start sw-rss-feed code -->
     <div id="covid">

<!-- start sw-rss-feed code -->
<script type="text/javascript">
<!--
rssfeed_url = new Array();
rssfeed_url[0]="https://news.google.com/rss/topics/CAAqBwgKMJy5lwswj-KuAw?hl=en-US&gl=US&ceid=US%3Aen&oc=11";
rssfeed_frame_width="800";
rssfeed_frame_height="460";
rssfeed_scroll="on";
rssfeed_scroll_step="6";
rssfeed_scroll_bar="off";
rssfeed_target="_blank";
rssfeed_font_size="12";
rssfeed_font_face="";
rssfeed_border="on";
rssfeed_css_url="https://feed.surfing-waves.com/css/style3a.css";
rssfeed_title="on";
rssfeed_title_name="";
rssfeed_title_bgcolor="#3366ff";
rssfeed_title_color="#fff";
rssfeed_title_bgimage="";
rssfeed_footer="off";
rssfeed_footer_name="rss feed";
rssfeed_footer_bgcolor="#fff";
rssfeed_footer_color="#333";
rssfeed_footer_bgimage="";
rssfeed_item_title_length="50";
rssfeed_item_title_color="#666";
rssfeed_item_bgcolor="#fff";
rssfeed_item_bgimage="";
rssfeed_item_border_bottom="on";
rssfeed_item_source_icon="off";
rssfeed_item_date="off";
rssfeed_item_description="on";
rssfeed_item_description_length="120";
rssfeed_item_description_color="#666";
rssfeed_item_description_link_color="#333";
rssfeed_item_description_tag="off";
rssfeed_no_items="0";
rssfeed_cache = "d7c92de107b8accb3bb5ecd060434f64";
//-->
</script>
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
<!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. -->
<div style="color:#ccc;font-size:10px; text-align:right; width:600px;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;">Surfing Waves</a></div>
<!-- end sw-rss-feed code -->

     </div>




 </div>
    {% if user.is_professional %}
    <div class=class="col-sm-3.5" >
            <button type="button" onClick="Reviews()" class="btn btn-success btn-block">
            Reviews
            </button>
        <br/>
        <div id="reviews">
            <div style=" // width: 1000px;
    width:300px;
    overflow-y:scroll;
    position:relative;
    height: 600px;">
                <p>
                    {% for rev in reviews %}
                <!-- Left-aligned -->
                    <div class="media">
                      <div class="media-left">
                        <img src="/media/{{ rev.rate_from.profile_pic }}"  style="width:60px">
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">{{ rev.rate_from }}<sub>{{ rev.rating }}/5</sub></h4><sup>{{ rev.rate_time }}</sup>
                        <p>{{ rev.review }}</p>
                      </div>
                    </div>
                    {% endfor %}
                </p>
            </div>
        </div>
        </div>
    {% endif %}

</div>
</div>

</div>
{% include "sidebar_base.html" %}
<script>

        function toggler(divId) {
            $("#" + divId).toggle();
        }

        function Health() {
            toggler('health');
        }

        function Covid() {
            toggler('covid');
        }

        function Reviews() {
            toggler('reviews');
        }



</script>

{% endblock %}