{% extends 'base.html' %}



{% block content %}

   <h2>Hello! {{ user.username }}</h2>
Good day
<br/><br/>
     {% if user.is_authenticated %}
  <a href="{% url 'view_professionals' %}" class="btn btn-student btn-lg" role="button">View Professionals</a>
  <a href="{% url 'create_appointment_schedule' %}" class="btn btn-student btn-lg" role="button">New appointment schedule</a>
  <a href="{% url 'view_appointment_schedule' %}" class="btn btn-student btn-lg" role="button">Appointment Schedules</a>
  <a href="{% url 'appointment_view' %}" class="btn btn-student btn-lg" role="button">View Appointments</a>
  <a href="{% url 'calendar' %}" class="btn btn-student btn-lg" role="button">calendar<i class="fa fa-calendar fa-1x" style="color:black" aria-hidden="true"></i></a>
  <a href="{% url 'appointment_calendar' %}" class="btn btn-student btn-lg" role="button">Appoint calendar<i class="fa fa-calendar fa-1x" style="color:black" aria-hidden="true"></i></a>
            {% if flag %}
            <a href="{% url 'view_messages' %}" class="btn btn-student btn-lg" role="button">messages<span class="badge">{{flag2}}</span><i class="fa fa-envelope fa-1x" style="color:PeachPuff " aria-hidden="true"></i><i class="fa fa-bell-o" style="color:red" aria-hidden="true"></i></a>
            {% else %}
            <a href="{% url 'view_messages' %}" class="btn btn-student btn-lg" role="button">messages<span class="badge">{{flag2}}</span><i class="fa fa-envelope fa-1x" style="color:PeachPuff" aria-hidden="true"></i></a>
            {% endif %}
    {% endif %}
{% endblock %}