{% extends 'base.html' %}

{% block title %}
  {{ person.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Visiting {{ person.username }}</li>
  <li class="breadcrumb-item"><a href="{% url 'profile_home' %}"><button class="btn"><i class="fa fa-home"></i> Home</button></a></li>
  <li class="breadcrumb-item"><button class="btn" onClick="javascript:history.go(-1);"></i>&#9756;Back</button></a></li>
  <li class="breadcrumb-item"><a href="{% url 'send_message' person.pk %}"><button class="btn">&#9993;Send Message</button></a></li>
{% if person.is_professional %}
  <li class="breadcrumb-item"><a href="{% url 'appointment_day' person.pk %}"><button class="btn">Make appointment</button></a></li>
{% endif %}
{% endblock %}
{% block content %}

<!-- <button type="button" onClick="window.location.reload();">Refresh</button> -->
<div class="row">
 <div class="col-sm-6" style="background: rgba(255, 255, 255, 0.25);">
   <h2>{{ person.username }}</h2>
     {% if person.is_professional %}
     <h3>Rating {{ final_rating }}/5 &nbsp; <sub>Raters: {{ rater }}</sub></h3>
     {% endif %}
    <img src="{{ person.profile_pic.url }}"  alt="HTML5" style="width:128px;height:128px">
    <ul>
        <li>First name= {{ person.first_name }}</li>
        <li>Last name= {{ person.last_name }}</li>
        <li>Email= {{ person.email }}</li>
         <li>Phone number= {{ person.phone_number }}</li>
         <li>Gender= {{ person.gender }}</li>
         <li>Date of birth= {{ person.date_of_birth }}</li>
         <li>Address= {{ person.address }}</li>
    {% if person.is_normal %}
    {% elif person.is_professional %}
         <li>Profession= {{ person.professional.profession }}</li>
         <li>Speciality= {{ person.professional.speciality }}</li>
    </ul>
    {% endif %}
  </div>
{% if person.is_professional %}



    <div class="col-sm-6">

        <button class="btn btn-info" onClick="Schedule()">
            Appointment Schedule
        </button>
        <br>

        <div id="schedule" style="display:none">
              <table class="table">
        <thead class="thead-inverse">
        </thead>
          <tr>
              <thread class="thead-inverse">
                  <th></th>
                  <th>Start Time</th>
                  <th>End Time</th>
              </thread>
          </tr>
        <tbody>
        {% if sat %}
        <th class="align-middle" rowspan="{{ sat }}">Saturday</th>
        {% for schedule in appointment_schedule %}
            {% if schedule.day == "Saturday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if sun %}
        <th class="align-middle" rowspan="{{ sun }}">Sunday</th>
        {% for schedule in appointment_schedule %}
            {% if schedule.day == "Sunday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if mon %}
        <th class="align-middle" rowspan="{{ mon }}">Monday</th>
        {% for schedule in appointment_schedule %}
            {% if schedule.day == "Monday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if tue %}
        <th class="align-middle" rowspan="{{ tue }}">Tuesday</th>
        {% for schedule in appointment_schedule %}
            {% if schedule.day == "Tuesday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if wed %}
        <th class="align-middle" rowspan="{{ wed }}">Wednesday</th>
        {% for schedule in appointment_schedule %}
            {% if schedule.day == "Wednesday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if thus %}
        <th class="align-middle" rowspan="{{ thus }}">Thursday</th>
        {% for schedule in appointment_schedule %}
            {% if schedule.day == "Thursday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if fri %}
        <th class="align-middle" rowspan="{{ fri }}">Friday</th>
        {% for schedule in appointment_schedule %}
            {% if schedule.day == "Friday" %}
            <tr>
                <td class="align-middle">{{ schedule.start_time }}</td>
                <td class="align-middle">{{ schedule.end_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
      </table>
        </div>
        <button class="btn btn-warning" onClick="Rate()">
            Rate
        </button>
        <br>
        <div id="rate" style="display:none">
            <form method="post">
              {% csrf_token %}
              <table class="form form-table">
                {{ form_rate }}
                  <div>
                    {% if messages %}
                      <ul class="messages">
                        {% for message in messages %}
                            <li style="color:red">{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                <tr><td colspan="2"><button type="submit"  name="_rate" class="btn btn-info right"> Rate </button></td></tr>
              </table>
            </form>
        </div>
        <button class="btn btn-success" onClick="Reviews()">
            Reviews
        </button>
        <br>
        <div id="reviews" style="display:none">
            <div class="wrapper">
                <p>
                    {% for rev in reviews %}
                <!-- Left-aligned -->
                    <div class="media">
                      <div class="media-left">
                        <img src="/media/{{ rev.rate_from.profile_pic }}"  style="width:60px">
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{ rev.rate_from }}<sub>{{ rev.rating }}/5</sub></h4><sup>{{ rev.rate_time }}</sup>
                        <p>{{ rev.review }}</p>
                      </div>
                    </div>
                    {% endfor %}
                </p>
            </div>
        </div>

        <div id="about" style="background: rgba(155, 255, 255, 0.25);">
            <h1>About {{ person }}</h1>
            {% if person.aboutprofessional %}
            <p><pre class="pre-scrollable">{{ person.aboutprofessional.info }}</pre></p>
            {% else %}
            <p>No info to show</p>
            {% endif %}
        </div>
    </div>
{% endif %}
</div>
<br/><br/>
{% if person.is_professional %}
<button type="button" onClick="Achievements()" class="btn btn-info btn-block">
            Achievements
            </button>
        <br/>
        <div id="achievements">
<div class="row">
    <div style=" // width: 1200px;
    width:1000px;
    overflow-y:scroll;
    position:relative;
    height: 600px;">
                <p>
                    {% for ach in achievements %}
                <!-- Left-aligned -->
                    <div class="media">
                      <div class="media-left">
                          {% if ach.achievement_pic %}
                        <img src="/media/{{ ach.achievement_pic }}"  alt="HTML5" style="width:200px;height:150px">
                          {% else %}
                          {% load static %}<img src="{% static 'images/star_achievement.jpg' %}" alt="HTML5" style="width:200px;height:150px">
                          {% endif %}
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{ ach.title }}</h4>
                        <p>{{ ach.details }}</p>
                      </div>
                    </div>
                    {% endfor %}
                </p>
            </div>
        </div>
</div>
    {% endif %}

    <script>
        $('#GFG_UP').text(
"Click on button to toggle the DIV Box using Bootstrap.");

        function toggler(divId) {
            $("#" + divId).toggle();
        }

        function Schedule() {
            toggler('schedule');
            $('#GFG_DOWN').text("DIV Box is toggling.");
        }

        function Rate() {
            toggler('rate');
            $('#GFG_DOWN').text("DIV Box is toggling.");
        }

        function Reviews() {
            toggler('reviews');
            $('#GFG_DOWN').text("DIV Box is toggling.");
        }

        function Achievements() {
            toggler('achievements');
            $('#GFG_DOWN').text("DIV Box is toggling.");
        }



    </script>


{% endblock %}

