{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Achievements</li>
  <li class="breadcrumb-item"><a href="{% url 'profile_home' %}"><button class="btn"><i class="fa fa-home"></i> Home</button></a></li>
{% endblock %}

{% block content %}
  <li class="breadcrumb-item"><a class="btn btn-info left" href="{% url 'add_achievements' %}"><i class="fa fa-plus"></i>New achievements</a></li>
    <br/><br/>
  <div style=" // width: 1200px;
    width:1000px;
    overflow-y:scroll;
    position:relative;
    height: 600px;">
                <p>
                    {% for ach in achievements %}
                <!-- Left-aligned -->
                    <div class="media">
                      <div class="media-left">
                          {% if ach.achievement_pic %}
                        <img src="/media/{{ ach.achievement_pic }}"  alt="HTML5" style="width:200px;height:128px">
                          {% else %}
                          {% load static %}<img src="{% static 'images/achievement.png' %}"alt="HTML5" style="width:200px;height:128px">
                          {% endif %}
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{ ach.title }}</h4>
                        <p>{{ ach.details }}</p>
                      </div>
      <a class="btn btn-info" href="{% url 'achievements_edit' ach.pk %}" aria-label="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>
            <a class="btn btn-danger" href="{% url 'delete_achievements' ach.pk %}" aria-label="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </div>
                    {% endfor %}
                </p>
            </div>
{% endblock %}